<!-- Global site tag (gtag.js) - Google Ads: 714495707 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-714495707"></script>
<meta name="google-site-verification" content="8UFMDFEzK_grVfm5fKMxuJp14vikjg-aUpVoJapDiYY" />
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-714495707');
</script>

<script>
window.addEventListener('load',function(){ 
  if(window.location.pathname.match('/my-meditation-channel/')){
 gtag('event', 'conversion', {'send_to': 'AW-714495707/a8olCMTRqKkBENut2dQC'})  }
  if(window.location.pathname.match('/events/')){
gtag('event', 'conversion', {'send_to': 'AW-714495707/9lgeCJ6HpKkBENut2dQC'});  }
  if(window.location.pathname.match('/courses/')){
 gtag('event', 'conversion', {'send_to': 'AW-714495707/9moMCKrrsKkBENut2dQC'});  }

})
</script>