@charset "utf-8";

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;

header {
	margin-bottom: 16px;
	background: #211625;

	.feature {
		margin-bottom: 0;
	}
}

nav {
	a {
		color: lightgray;
	}
	a:hover {
		color: white;
	}
}

.button.button--nav {
	color: lightgray;
}

.typeset blockquote footer {
	margin-bottom: 1em;
}

blockquote.photo {
	background: #ded5c7;
	padding: 1em;
	margin-bottom: 2em;

	@include breakpoint(break-0) {
		width: 100%;
		clear: both;
	}
	@include breakpoint(break-1) {
		overflow: auto;
	}
}

blockquote.photo img {
	@include breakpoint(break-1) {
		float: right;
		margin-left: 2em;
	}
}

#mc_embed_signup form {
	background: #ded5c7;
	padding-bottom: 2em;
}